.nav-user-photo {
    margin: -4px 8px 0 0;
    border-radius: 100%;
    border: 2px solid #FFFFFF;
    max-width: 150px;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.ui-datepicker {
    z-index: 1051 !important;
}

#loading_over {
    display: none;
    background: #6A7177;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 1059;
}

#knnLoading {
    display: none;
    position: fixed;
    z-index: 1060;
    top: 30%;
    left: 50%;
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

#knnLoading > div {
    background-color: #0b67cd;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

#knnLoading .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

#knnLoading .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

#knnLoading .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

#knnLoading .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}
.sb-search {
    position: absolute;
    right:25%;
    width: 0%;
    min-width:50px;
    margin: 0;
    height: 50px;
    float: none;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
    background: none;
}
.sb-search-input {
    position: absolute;
    top: 0px;
    left: 0px;
    border: none;
    outline: none;
    background:#F5F5F5;
    width: 100%;
    height: 50px;
    margin: 0;
    z-index: 10;
    font-size:14px;
    color: #999;
    padding-left: 1em;
    padding-right: 4em;
}
.sb-search-input::-webkit-input-placeholder {
    color:#999;
}
.sb-search-input:-moz-placeholder {
    color: #999;
}
.sb-search-input::-moz-placeholder {
    color: #999;
}
.sb-search-input:-ms-input-placeholder {
    color: #999;
}
.sb-icon-search,.sb-search-submit  {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 85px;
    text-align: center;
    cursor: pointer;
}
.sb-search-submit {
    background:#fff url(../images/img-sp.png) no-repeat 7px -91px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
    -webkit-appearance: none;
}
.sb-icon-search {
    background:#fff url(../images/img-sp.png) no-repeat 7px -91px;
    z-index: 90;
}
/* Open state */
.sb-search.sb-search-open,.no-js .sb-search {
    width:42%;
}
.sb-search.sb-search-open .sb-icon-search,.no-js .sb-search .sb-icon-search {
    background:#fff url(../images/img-sp.png) no-repeat 7px -91px;
    color: #fff;
    z-index: 11;
}
.sb-search.sb-search-open .sb-search-submit,.no-js .sb-search .sb-search-submit {
    z-index: 90;
}
